body {
    font-family: "Cuprum", sans-serif;
}

.container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
    min-height: 42px;
}

.logo, .input-search, .header-user-block {
    display: inline-block;
    min-height: 42px;
    box-sizing: border-box;
}

.header-main {
    margin: 0;
    padding: 0;
    background: #293449;
    min-height: 42px;
    font-size: 0;

}

.header-main:hover {
    background: #212a3a;
}

.logo {
    margin: 0;
    background: #ee3643;
    width: 220px;
    min-height: 42px;
    text-align: center;
    vertical-align: top;
    box-shadow: 0 5px 0 0 #b52933;
}

.logo>h1 {
    font-family: "Cuprum", sans-serif;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    padding: 6px 0 6px 0;
    margin: 0;
    color: #ffffff;
}

.input-search {
    background: #293449;
    box-sizing: border-box;
    padding:12px 0 12px 20px;
    border: 0;
    text-align: left;
    width: 270px;
    min-height: 42px;
    font-size: 17px;
    line-height: 18px;
    color:#e0e1e3;
    font-family: "Cuprum", sans-serif;
}

.input-search:hover {
    background: #212a3a;
}

.input-search:focus {
    background: #ffffff;
    color: #000000;
    transition: background 0.5s ease;
    outline: none;
}

.input-search::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
.input-search::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
.input-search:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
.input-search:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
.input-search:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.input-search:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.input-search:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.input-search:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

::-webkit-input-placeholder {
    color:#e0e1e3;
    font-family: "Cuprum", sans-serif;
    font-size: 17px;
    line-height: 18px;
    padding:12px 0 12px 20px;
}

.header-user-block {
    width: 450px;
    vertical-align: top;
    min-height: 42px;

}

.header-user-block>a {
    box-sizing: border-box;
    padding:12px 0 12px;
    display: inline-block;
    color:#e0e1e3;
    font-family: "Cuprum", sans-serif;
    font-size: 17px;
    line-height: 18px;
    margin: 0;
    width: 140px;
    text-align: center;
    text-decoration: none;
}
.header-user-block a:nth-child(2){
    width: 160px;
}

.header-user-block a:last-child {
    background: #63a63e;
    width: 150px;
}

.header-bottom {
    font-size: 0;
    background: #f1f5f7;
    padding-top: 5px;
}

.description>p {
    margin: 0;
}

.description {
    font-size: 16px;
    line-height: 23px;
    margin-right: 15px;
    padding: 38px 50px 38px 55px;
    color: #e9292a;
}

.user-block {
    font-size: 21px;
    line-height: 30px;
}

.description, .user-block {
    display: inline-block;
    box-sizing: border-box;
    width: 300px;
    min-height: 120px;
    vertical-align: top;
}

.contact {
    display: inline-block;
    box-sizing: border-box;
    width: 310px;
    min-height: 120px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    margin-right: 15px;
}

.contact>b {
    display: inline-block;
    box-sizing: border-box;
    width: 270px;
    min-height: 45px;
    border: 2px solid white;
    font-size: 21px;
    line-height: 21px;
    padding: 12px 0 12px 0;
    margin-top: 43px;
    color: #e9292a;
}

.contact>span {
    display: inline-block;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 14px;
    width: 270px;
    padding: 10px 0 10px 0;

}

.user-block>a {
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Cuprum", sans-serif;
    font-size: 21px;
    line-height: 21px;
    min-height: 48px;
    min-width: 122px;
    padding: 13px 0 13px 0;
    margin-top: 43px;
    margin-left: 20px;
    background: #ffffff;
    text-align: center;
    color: #000000;
}

.user-block>a:hover {
    color: #ee3643;
}

.user-block>a:focus {
    color: #c5c5c5;
}

.main-nav {
    box-sizing: border-box;
    background: #32425c;
}

.main-nav ul {
    padding: 0;

}

.main-nav li {
    display: inline-block;
}

.main-nav a {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 12px 19px 12px 19px;
    min-width: 130px;
    text-align: center;
}

.main-nav a:hover {
    background: #293449;
}

.main-nav a:focus {
    color: #feffff;
    background: #293449;
}

.main-nav a{
    font-family: "Cuprum", sans-serif;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    color: #f5f6f6;

}

.gallery>ul {
    margin: 0;
    padding: 0;
}

.feature-item-carousel {
    width: 620px;
    min-height: 125px;
    display: inline-block;
    box-sizing: border-box;
    margin: 0 20px 20px 0;
}

.feature {
    font-size: 0;
}

.feature-item {
    display: inline-block;
    box-sizing: border-box;
    width: 300px;
    min-height: 123px;
    margin: 20px 20px 20px 0;
    font-size: 24px;
    position: relative;
}

.feature-top .feature-item:nth-child(1) {
    background: #f6b22d;
}

.feature-top .feature-item:nth-child(2) {
    background: #4aafde;
}

.feature-top .feature-item:nth-child(3) {
    background: #cc79d1;
}

.feature-right .feature-item:nth-child(1) {
    background: #85d179;
}

.feature-right .feature-item:nth-child(2) {
    background: #f67030;
}

.feature-item a{
    box-sizing: border-box;
    font-family: "Cuprum", sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: #f5f6f6;
    padding: 13px;
    position: absolute;
    top: 63px;
    left: 26px;
    background-color: rgba(116, 116, 116, 0.3);
    border: 1px solid transparent;
    border-radius: 3px;
    min-width: 134px;
    transition: 0.3s;
}

.feature-item a:hover {
    background-color: rgba(116, 116, 116, 0.7);
}

.feature-item a:focus {
    background-color: rgba(116, 116, 116, 0.8);
    color: #feffff;
}

.feature-item b {
    position: absolute;
    top: 25px;
    left: 22px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    display: inline-block;
    box-sizing: border-box;
    color: #f5f6f6;
}

.feature-item img {
    position: absolute;
    top: 31px;
    right: 43px;
}

.feature-top {
    vertical-align: top;
}

.feature-item:nth-child(3) {
    margin-right: 0;
}

.feature-right>.feature-item {
    margin-top: 0;
    margin-right: 0;
}

.feature-right {
    display: inline-block;
    width: 300px;
    font-size: 0;
    vertical-align: top;
}
/*.feature-item:nth-child(5) {*/
     /*margin-bottom: -143px;*/
     /*margin-top: 20px;*/
     /*margin-left: 640px;*/
     /*position:relative;*/
     /*top:-287px;*/
 /*}*/

/*.feature-item:nth-child(6) {*/
    /*margin-bottom: -266px;*/
    /*margin-top: 167px;*/
    /*margin-left: 640px;*/
    /*position:relative;*/
    /*top:-290px;*/
/*}*/


.popular-header {
    display: inline-block;
    box-sizing: border-box;
    background-color: #f7f3ec;
    width: 940px;
}


.pop-button, .pop-h {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}

.pop-h {
    font-size: 30px;
    min-height: 90px;
    margin: 0;
    font-family: "Cuprum", sans-serif;
    line-height: 30px;
    font-weight: 500;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    color: #32425c;
    padding: 33px;
}

.pop-button {
    border-radius: 3px;
    background-color: #ee3643;
    width: 253px;
    margin-left: 320px;
    font-size: 14px;
    color: #f5f6f6;
    text-decoration: none;
    padding: 14px 50px 14px 50px;
    margin-top: 26px ;
    text-transform: uppercase;
    text-align: center;
    transition: 0.3s;
}

.pop-button:hover {
    background-color: #be2e35;
}

.popular-product, .popular-brand  {
    display: inline-block;
    box-sizing: border-box;
    width: 220px;
    min-height: 318px;
    margin-right: 20px;
    vertical-align: top;
    font-size: 18px;
    border: 1px solid #e5e5e5;
}

.popular-product {
    text-align: center;
    position: relative;
    margin-top: 20px;
}

.popular-product:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    cursor: pointer;
}

.flipper-imgContainer {
    text-align: center;
    width: 220px;
    height: 180px;
    display: table-cell;
    vertical-align: middle;
    transition: 0.3s;
}

.flipper-imgContainer:hover img {
    display: none;
}

.flipper-imgContainer:hover {
    height: 10px;
}

/*.flipper-imgContainer:hover .popular-product{*/
    /*border: transparent;*/
    /*background: red;*/
/*}*/

.flipper-imgContainer:hover ~.flipper-btn {
    display: inline-block;
}

.flipper-btn {
    display: none;
    text-align: center;
    width: 220px;
    height: 180px;
    vertical-align: middle;
}

.buy-btn {
    display: inline-block;
    box-sizing: border-box;
    font-family: "Cuprum", sans-serif;
    line-height: 14px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: #e5e5e5;
    background-color: #63a63e;
    padding: 15px 45px 15px 45px;
    margin: 45px 42px 7px 42px;
}


.flipper-imgContainer img {
    margin: auto;
}

.popular .product-name {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 18px;
    display: inline-block;
}


.popular .prev-price {
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
    line-height: 17px;
    text-decoration: line-through;
    display: inline-block;
    margin-bottom: 18px;
    color: #999999;
}

.popular .current-price {
    display: inline-block;
    background-color: #ee3643;
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
    line-height: 17px;
    padding: 12px 19px 13px 35px;
    margin-bottom: 18px;
    position: relative;
    border-radius: 2px 0 0 2px;
}

.current-price:after {
    content:'';
    display: block;
    position: absolute;
    margin-right: -21px;
    vertical-align: top;
    right: 0;
    top:0;
    width: 0;
    height: 0;
    border: 21px solid transparent;
    border-right: 0;
    border-left-color: #ee3643;
}

.last {
    margin-right: 0;
}

.popular {
    font-size: 0;
    margin-bottom: 20px;
}

.popular-brand {
    min-height: 146px;
}

.services {
    min-height: 523px;
    display: inline-block;
    box-sizing: border-box;
}

.services-description, .services-btn-group, .services-btn, .service {
    display: inline-block;
    box-sizing: border-box;
}

.services-description {
    width: 460px;
    min-height: 200px;
    margin-right: 420px;
}

.services-btn-group {
    width: 240px;
    min-height: 186px;
    margin-right: 80px;
}

.services-btn {
    width: 240px;
    min-height: 62px;
}

.service {
    width: 310px;
    min-height: 184px;
    margin-right: 40px;
}

.delivery-pic {
    margin-right: 0;
    display: inline-block;
    box-sizing: border-box;
}

.warranty, .credit {
    display: none;
}

.about-company {
    display: inline-block;
    box-sizing: border-box;
    width: 540px;
    min-height: 450px;
    margin-right: 20px;
    padding-top: 70px;
}

.about-map {
    display: inline-block;
    box-sizing: border-box;
    width: 365px;
    min-height: 450px;
    padding-top: 70px;
}

.main-footer-about {
    display: inline-block;
    box-sizing: border-box;
    width: 240px;
    min-height: 110px;
    margin-right: 140px;
}

.footer-social {
    display: inline-block;
    box-sizing: border-box;
    width: 150px;
    min-height: 110px;
    margin-right: 160px;
}

.developer {
    display: inline-block;
    box-sizing: border-box;
    width: 140px;
    min-height: 110px;
}
